body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.game {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  border: thin solid black;
}

.info-row {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.new-game-button {
  background-color: #ff8b37;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.score {
  font-weight: bold;
}

.game-board {
  flex-grow: 1;
}

.board {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
}

.card {
  background: #fff;
  border: thin solid #ff8b37;
  width: 100%;
}
